main {
  margin: 200px auto 72px;
  border: 5px solid #2c2c2c;
  border-radius: 8px;
  padding: 24px;
  width: 800px;
  background-color: #db6c5e;
  box-shadow: 1px 2px 8px #0000004c;
}

img {
  margin-top: -134px;
  border: 5px solid #2c2c2c;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 30px;
  color: #1f1919;
}

h1 span {
  color: #420202;
}

#todays-challenge {
  font-size: 52px;
  font-weight: bold;
  color: #4b3b3b;
}

a {
  color: #491d32;
}
