header {
  margin-bottom: 64px;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #473e3e;
}

header p {
  margin: 12px 0;
}

a {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 48px;
  font-size: 24px;
  color: #fff;
  background-color: #a7014e;
}

a:hover {
  text-decoration: none;
  background-color: #b40c5a;
}

ol {
  margin: 36px auto 0;
  padding: 0;
  width: 500px;
  list-style: none;
}

li {
  margin: 32px;
  border-radius: 6px;
  padding: 16px;
  background-color: #df887c;
  box-shadow: 1px 1px 4px #00000033;
}

li h2 {
  font-family: Oswald, sans-serif;
  color: #4e0d05;
}

li p {
  margin: 12px;
  color: #471d16;
}

.highlight-goal {
  background-color: #e27365;
}
