body {
  margin: 50px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  color: #534b4b;
  background-color: #e9d7cf;
}

img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

h1 {
  font-family: Oswald, sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

a {
  color: #a7014e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
